#niem, #vui, #tu, #dao, #intro, #buttonStart {
    opacity: 0;
    animation: fadeIn 0.5s linear forwards;
}

#niem {
    animation-delay: 0.5s;
}

#vui {
    animation-delay: 1s;
}

#tu {
    animation-delay: 1.5s;
}

#dao {
    animation-delay: 2s;
}

#intro {
    animation-delay: 2.5s;
}

#buttonStart {
    animation-delay: 3s;
}

#buttonStart:hover {
    transform: translate(0, 5px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}