@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../font/PlayfairDisplay.ttf');
}

@font-face {
    font-family: 'FairProsper';
    src: url('../font/FairProsper.ttf')
}

@font-face {
    font-family: 'Lora';
    src: url('../font/Lora.ttf')
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../font/RobotoSlab.ttf')
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes zoomIn {
    to {
        opacity: 1;
        transform: scale(1.07);
    }
}

@keyframes bounce {
    to {
        transform: translate(0, 15px);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate(-20px, 0);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate(20px, 0);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

@keyframes slideTop {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 20px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

@keyframes minimize {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
    }
}

@keyframes maximize {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        height: max-content;
        opacity: 1;
        visibility: visible;
    }
}