* {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Lora', serif;
}

body {
    max-width: 400px;
    height: 95vh;
    margin: auto;
    display: table;
    text-align: center;
}