* {
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Lora', serif;
    font-size: 19px;
    text-align: center;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 450px;
    height: max-content;
    margin: auto;
    padding: 50px 0 100px;
}

span {
    font-size: 22px;
    color: #744d26;
}