@media screen and (hover: none) and (pointer: coarse) {
    body {
        width: 100%;
        margin: auto;
    }
}

@media screen and (hover: hover) and (pointer: fine),
(hover: none) and (pointer: coarse) and (max-width: 500px) {
    body {
        width: 400px;
        margin: auto;
    }
}

* {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Lora', serif;
}

body {
    text-align: center;
}