#infoArea {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;

    width: 400px;
    margin: -20px;
    position: relative;
}

.tieuDan.infoArea {
    margin: -60px 0 0;
}

.infoTitle {
    width: 95%;
    margin: 0 auto 50px;

    font-family: 'PlayfairDisplay', serif;
    font-size: 45px;
    transform: scale(1.05, 1);
    line-height: 1.45;

    background-image: linear-gradient(to right, #363636, #744d26 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infoBoard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;

    width: 350px;
    height: 330px;
    margin: 0 0 50px;
    padding: 22px 0 0 ;
    border-radius: 5px;
    border: 2px solid #c9bcb1;
    background-color: #fdf9f1;
}

.infoEmail, .infoPassword, .infoOTP {
    width: 75%;
    height: 60px;
    margin: 0 0 20px;
    padding: 12px 0 0;
    color: gray;
    font-size: 21px;
    border-bottom: 2px solid #b4b4b4;
}

.infoOTP {
    position: absolute;
    inset: 0;
    visibility: hidden;
}

::placeholder {
    color: gray;
}

.infoPassword, .infoOTP {
    letter-spacing: 3px;
}

.infoPassword::placeholder, .infoOTP::placeholder {
    letter-spacing: 0;
}

.infoEmail.signIn, .infoPassword.signIn {
    color: #416c33;
    border-bottom: 2px solid #8b9f85;
}

.infoEmail.signUp, .infoPassword.signUp {
    color: #3b3e81;
    border-bottom: 2px solid #878798;
}

.infoButton {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;

    width: 75%;
    height: 55px;
    margin: 38px 0 0;

    font-size: 19.5px;
    color: #4f3419;
    background-color: #e7d8be;
    border-radius: 5px;
    cursor: pointer;
}

.infoButton:active {
    transform: translate(0, 5px);
}

.infoText.show {
    visibility: visible;

}

.infoText.hide {
    visibility: hidden;

}

.infoButton.show {
    visibility: visible;

}

.infoButton.hide {
    visibility: hidden;

}

.infoText {
    padding: 0 40px 0;
    font-size: 20px;
    line-height: 1.6;
    word-wrap: break-word;
}