.introBoard.resize {
    width: 360px;
    height: 510px;
    padding: 0 20px 65px;
    transition: all 1s linear;
}

.infoText {
    font-size: 21px;
    line-height: 1.6;
    word-wrap: break-word;
    opacity: 0;
}

.inputEmail, .inputPassword {
    width: 85%;
    height: 60px;
    margin: 0 auto 20px;
    padding: 10px 0 0;
    color: gray;
    font-size: 21px;
    border-bottom: 2px solid #b4b4b4;
}

.inputPassword {
    letter-spacing: 5px;
    font-size: 23px;
}

::placeholder {
    color: gray;
}

.inputPassword::placeholder {
    font-size: 21px;
    letter-spacing: 0;
}

.inputEmail.correct, .inputPassword.correct {
    color: #416c33;
    border-color: #99a694;
}

.inputEmail.incorrect, .inputPassword.incorrect {
    color: #3b3e81;
    border-color: #878798;
}

.infoButton {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;

    width: 85%;
    height: 54px;
    margin: 43px auto 0;
    background-color: #e7d8be;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.infoButton.unready {
    color: gray;
    background: lightgray;
}

.infoButton.ready:active {
    transform: translate(0, 5px);
}

.infoText {
    animation: fadeIn 0.5s linear forwards;
}