.introBoard.resize {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;

    width: 360px;
    height: 540px;
    margin: -50px 0 0;
    padding: 0 20px 50px;
    transition: all 1s linear;
}

.infoTitle {
    width: 95%;
    margin: 48px auto 20px;

    font-family: 'PlayfairDisplay', serif;
    font-size: 37px;
    transform: scale(1.05, 1);
    line-height: 1.4;

    background-image: linear-gradient(to right, #363636, #744d26 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infoText {
    margin: 32px 0 0;
    padding: 0 15px 0;
    font-size: 19.5px;
    line-height: 1.6;
    word-wrap: break-word;
    opacity: 1;
}

.inputEmail, .inputNumber {
    width: 85%;
    height: 60px;
    margin: 0 auto 20px;
    padding: 12px 0 0;
    color: gray;
    font-size: 21px;
    border-bottom: 2px solid #b4b4b4;
}

::placeholder {
    color: gray;
}

.inputNumber {
    letter-spacing: 3px;
}

.inputNumber::placeholder {
    letter-spacing: 0;
}

.inputEmail.correct, .inputNumber.correct {
    color: #416c33;
    border-bottom: 2px solid #8b9f85;
}

.inputEmail.incorrect, .inputNumber.incorrect {
    color: #3b3e81;
    border-bottom: 2px solid #878798;
}

.infoButton {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;

    width: 85%;
    height: 54px;
    margin: 43px auto 0;
    background-color: #e7d8be;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.infoButton.unready {
    color: gray;
    background: lightgray;
}

.infoButton.ready:active {
    transform: translate(0, 5px);
}

.infoText {
    animation: fadeIn 0.5s linear forwards;
}