.introBoard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 364px;
    height: 404px;
    margin: auto;
    padding: 0 30px 40px;
    border-radius: 6px;
    background-image: linear-gradient(to top right, #a28d79, #dcccba 80%);
    opacity: 0;
}

.introBackground {
    width: 360px;
    height: 400px;
    border-radius: 4px;
    background-color: #fff9f2;

    position: absolute;
    inset: 0;
    left: 2px;
    top: 2px;
    z-index: -1;
}

.introBoard.resize {
    width: 370px;
    height: 500px;
    padding: 0 20px 60px;
    transition: all 1s linear;
}

.introText {
    font-size: 21px;
    line-height: 1.7;
    word-wrap: break-word;
    opacity: 0;
}

.tieuDan {
    width: 200px;
    height: 200px;
    margin: -70px auto 0;
    background-image: url('../media/TigerFace.png');
    background-size: contain;
    opacity: 0;
}

.tieuDan {
    animation: fadeIn 0.7s 0.5s linear forwards, bounce 0.7s 1.2s ease-in alternate infinite;
}

.introBoard {
    animation: slideTop 0.5s 2s linear forwards;
}

.introText {
    animation: fadeIn 0.5s linear forwards;
}

.introText.remove {
    animation: fadeOut 0.5s linear forwards;
}