.introBoard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 360px;
    height: 400px;
    margin: auto;
    padding: 0 30px 40px;
    border-radius: 5px;
    border: 2px solid #c9bcb1;
    background-color: #fff9f3;
    opacity: 0;
}

.introText {
    font-size: 21px;
    line-height: 1.7;
    word-wrap: break-word;
    opacity: 0;
}

.tieuDan {
    width: 200px;
    height: 200px;
    margin: -70px auto 0;
    background-image: url('../media/TigerFace.png');
    background-size: contain;
    opacity: 0;
}

.tieuDan {
    animation: fadeIn 0.7s 0.5s linear forwards, bounce 0.7s 1.2s ease-in alternate infinite;
}

.introBoard {
    animation: slideTop 0.5s 2s linear forwards;
}

.introText {
    animation: fadeIn 0.5s linear forwards;
}

.introText.remove {
    animation: fadeOut 0.5s linear forwards;
}