.titleArea {
    opacity: 0;
    visibility: hidden;
}

.titleArea:nth-child(-n+4) {
    width: 90%;
    margin: auto auto -12px;

    font-family: 'PlayfairDisplay', serif;
    font-size: 77px;
    transform: scale(1.05, 1);

    background-image: linear-gradient(to right, #36648B 20%, #4F94CD 60%);
    -webkit-background-clip: text;
    color: transparent;
}

.titleArea:nth-child(5) {
    margin: 65px auto 10px;
    font-size: 19.5px;
}

.titleArea:nth-child(6) {
    margin: auto auto 60px;
    font-size: 19.5px;
}

.titleArea:nth-child(7) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 51px;
    margin: auto;

    font-size: 19px;
    border-radius: 5px;
    color: #36648B;
    background-color: #d6eafd;
    cursor: pointer;
}